* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#555, #292929);
}
label {
    position: relative;
    width: 300px;
    height: 150px;
    background: #3e3e3e;
    box-shadow: 0 0 0 4px #303030;
    border-radius: 75px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
label input {
    appearance: none;
}
label span {
    position: absolute;
    left: 0;
    width: 175px;
    height: 150px;
    background: url(images/Coffee_01.png);
    background-size: auto 150px;
    background-repeat: no-repeat;
    transition: 1.5s;
    transform: rotate(-180deg);
    transform-origin: 75px;
}
label input:checked ~ span {
    left: 150px;
    background: url(images/Coffee_02.png);
    background-size: auto 150px;
    background-repeat: no-repeat;
    transform: rotate(360deg);
}
label text {
    position: absolute;
    left: -150px;
    font-family: consolas;
    color: #fff;
    font-size: 3em;
    filter: drop-shadow(0 0 15px #fff) drop-shadow(0 0 35px #fff);
    transition: 1.5s;
}
label input:checked ~ text {
    color: #8f8f8f;
    filter: none;
}
label text:last-child {
    position: absolute;
    left: initial;
    right: -170px;
    color: #8f8f8f;
    filter: none;
}
label input:checked ~ text:last-child {
    color: #fff;
    filter: drop-shadow(0 0 15px #fff) drop-shadow(0 0 35px #fff);
}

.timeLabel{
    margin-top: 2rem;
    height: 80px;
    color: white;
}
#reset{
    position: relative;
    width: 100px;
    height: 50px;
    background: #3e3e3e;
    box-shadow: 0 0 0 4px #303030;
    border-radius: 75px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 2rem;
    margin-left: 6rem;
}
h1 {
    color: white;
    margin-bottom: 2rem;
    margin-left: 4.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4rem;
    letter-spacing: 5px;
}
#choise-min, #choise-sec{
    border-radius: 5px;
    margin: 6px;
    padding: 4px;
    width: 3rem;
    height: 2rem;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background: #706f6f;
    box-shadow: 0 0 0 2px #303030;
}